@tailwind base;
@tailwind components;
@tailwind utilities;


/* @import url('https://fonts.googleapis.com/css2?family=Ephesis:wght@600&family=Dancing+Script&display=swap'); */

@font-face {
    font-family: 'ephesis';
    src: url('/fonts/Ephesis-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'noto';
    src: url('/fonts/NotoSansLinearB-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: sans-serif;
    font-display: swap;
  }

.textStroke {
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}